<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Central de Databases</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h1>Central de Databases</h1>
        <button onclick="window.location.reload();">Atualizar</button>
    </div>

    <div class="table-container">
        <div class="table">
            <h2>Banco Local</h2>
            <table>
                <tr><th>Aluno</th><th>Escola</th><th>Turma</th><th>Data-Hora</th></tr>
                {% for row in banco_local %}
                <tr><td>{{ row[1] }}</td><td>{{ row[2] }}</td><td>{{ row[3] }}</td><td>{{ row[6] }}</td></tr>
                {% endfor %}
            </table>
        </div>

        <div class="table">
            <h2>Registro Único</h2>
            <table>
                <tr><th>Aluno</th><th>Escola</th><th>Turma</th><th>Data-Hora</th></tr>
                {% for row in registro_unico %}
                <tr><td>{{ row[1] }}</td><td>{{ row[2] }}</td><td>{{ row[3] }}</td><td>{{ row[6] }}</td></tr>
                {% endfor %}
            </table>
        </div>

        <div class="table">
            <h2>Mock - Dados Enviados</h2>
            <table>
                <tr><th>Aluno</th><th>Escola</th><th>Turma</th><th>Data-Hora</th></tr>
                {% for row in dados_enviados %}
                <tr><td>{{ row[0] }}</td><td>{{ row[1] }}</td><td>{{ row[2] }}</td><td>{{ row[5] }}</td></tr>
                {% endfor %}
            </table>
        </div>
            
        <div class="table">
            <h2>Mock - Dados Recebidos</h2>
            <table>
                <tr><th>Aluno</th><th>Escola</th><th>Turma</th><th>Turno</th><th>Vetor</th></tr>
                {% for row in dados_recebidos %}
                <tr><td>{{ row[0] }}</td><td>{{ row[1] }}</td><td>{{ row[2] }}</td><td>{{ row[4] }}</td><td class="vetor-coluna">{{ row[5] }}</td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>
